*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
background-color: rgb(238, 236, 236);

}

header{
    background-color: white;
    border: white 20px solid;

}

header>span{
    font-size: 60px;
    vertical-align: bottom;
    font-family: roboto;
}

main{
    margin: 5px auto;
    width: 50vw;
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding: 50px;


}



.white-button{

    margin:10px auto 0;
    width:50vw;
    height: 60px;
    background-color: white;
    border-radius: 10px 10px 0 0 ;
    

}

.logo-background{
    background-color: indigo;
    height: 60px;  
    border-radius: 20px;
}

.cats{
    height: 60px;
    background-image: url(../uid_12ee86e7da5.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.add-task{
    margin: 15px 0px 0px 50px;
    width:100px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(0, 0, 255, 0.815);
    color: white;

}




.add-section{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    color: gray


}

.text-arrow{
    font-size: 35px;
    vertical-align: super;
    font-family: roboto;
    
    
    
}

.arrow{
font-size: 40px;
margin-top: 30px;

}

.round-check{
    color: green;
    font-size: 20px;
    border: 2px solid green;
    border-radius:20px ;
    padding: 5px;
    

}

.check-text{
    font-size: 40px;
    margin-left: 10px;
    font-family: dongle;
    
    
}


.blue-box{
    border: 2px solid blue;
    background-color: blue;
}

.purple-box{
    border: 2px solid purple;
    background-color: purple;
}

.lightgreen-box{
    border: 2px solid lightgreen;
    background-color: lightgreen;
}

.orange-box{
    border: 2px solid orange;
    background-color: orange;
}

.pink-box{
    border: 2px solid pink;
    background-color: pink;
}

.green-box{
    border: 2px solid green;
    background-color: green;
}

.box-custom{
    border-radius: 20px;
    padding: 5px;
    color: white;
    margin-left: 10px;
}


.red-circle{
    color: red;
    font-size: 20px;
    border: 2px solid red;
    border-radius:20px ;
    padding: 5px;
}


.distanza{
    margin: 20px 20px 20px 0;
}


